/* variable declaration */
:root {
    --color-primary: #FC8500;
    --color-danger: #ff4c4c;
    --color-success: #3ff263;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f0f2f5; 
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* Dark theme variables */
.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);

}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

html {
    font-size: 14px;
}

body {
    width: 100%;
    height: 100%;
    font-size: 0.88rem;
    background-color: var(--color-background);
    /* to prevent selection */
    user-select: none;
    overflow-x: hidden;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    /* row and column gap */
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 13px;
}

h5 {
    font-size: 12px;
}

small {
    font-size: 12px;

}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}


aside {
    height: 100%;

}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    color: var(--color-dark);
}


aside .close {
    display: none;
}

/* el Sidebar */
aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86%;
    position: relative;
    top: 1rem;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;

}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: fixed;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;

}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;

}

aside .sidebar .message-count {
    background: var(--color-danger);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

aside .sidebar a:last-child {
    position: relative;
    bottom: -9rem;
    width: calc(100% - 2rem);
}
    



/* MAIN */
main {
    margin-top: 1.4rem;
    padding-top:30px;

}

main h1 , h2 {
    color: var(--color-dark);
    font-weight: 400;
}

main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input {
    background: transparent;
    color: var(--color-dark);

}

main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

/* Selects all div where the parent is insights*/
main .insights>div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights>div:hover {
    box-shadow: none;
}

main .insights>div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights>div.expenses span {
    background: var(--color-danger);
}

main .insights>div.income span {
    background: var(--color-success);
}

main .insights>div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
    color: var(--color-dark);

}

main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;

}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    /* by7rak l circle 5 pixels to the right, and 5 pixels down*/
    transform: translate(5px, 5px);

}

main .insights .sales svg circle {
    /* sets the length of dashes in the stroke */
    stroke-dasharray: 200;

    /* where the dash of a stroke will begin */
    stroke-dashoffset: -30;
}

main .insights .expenses svg circle {
    stroke-dasharray: 80;
    stroke-dashoffset: 20;
}

main .insights .income svg circle {
    stroke-dasharray: 110;
    stroke-dashoffset: 35;
}

main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights small {
    margin-top: 1.3rem;
    display: block;
}

/* recent orders */
main .recent-orders {
    margin-top: 2rem;
}

main .recent-orders h2 {
    margin-bottom: 0.8rem;
    color: var(--color-dark);

}

main .recent-orders table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    color: var(--color-dark);

}

main .recent-orders table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
    border: none;
}

main .recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/* right */
.right {
    margin-top: 1.4rem;
    
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
    
}



.right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}







.left{
    padding-top: 30px;
}
/* sales analytics */
.right .sales-analytics {
    margin-top: 2rem;
}

.right .sales-analytics h2 {
    margin-bottom: 0.8rem;
    color: var(--color-dark);
}

.right .sales-analytics h3 {
    color: var(--color-dark);
}

.right .sales-analytics .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .sales-analytics .item:hover {
    box-shadow: none;
}

.right .sales-analytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .sales-analytics .item .icon {
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background-color: var(--color-primary);
    display: flex;
}

.right .sales-analytics .item.offline .icon {
    background: var(--color-danger);
}

.right .sales-analytics .item.customers .icon {
    background: var(--color-success);
}

.right .sales-analytics .add-product {
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .sales-analytics .add-product:hover{
    background: var(--color-primary);
    color: white;
}

.right .sales-analytics .add-product div {
    display: flex;
    align-items: center;
}
.left{
    color: var(--color-dark);
margin-top: 10px;
}




/* Employer Info */
.employer-info {
    padding: 2rem;
    background-color: var(--color-white);
    margin-bottom: 1.8rem;
    margin-top: 1.8rem;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
  }
  
  .employer-info h2 {
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  
  .employer-info p {
    font-size: 17px;
    margin-bottom: 0.8rem;
  }
  
  
  
  
  
/* responsive */

@media screen and (max-width:1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent-orders table {
        width: 83%;
    }



   

}
