
<aside>
    <div class="top">
        <!-- <div class="logo">
            <img src="../public/images/" alt="">
        </div> -->
        <a href="/" class="">
            <h1 style="color: #FC8500; -webkit-text-stroke: 1px black;">Volun<span style="color: white;">Teens</span></h1>
        </a>
        
        <div class="close" id="close-btn">
            <span class="material-symbols-sharp">close</span>
        </div>
    </div>
    <div class="sidebar">
        <a href="/dashboard" class="active"><span class="material-symbols-sharp">dashboard</span>
            <h3>Dashboard</h3>
        </a>
        <a href="/users"><span class="material-symbols-sharp">person</span>
            <h3>Users</h3>
        </a>
        <a href="/organizations"><span class="material-symbols-sharp">receipt_long</span>
            <h3>Organizations</h3>
        </a>
        <!-- <a href=""><span class="material-symbols-sharp">insights</span>
            <h3>Analytics</h3>
        </a> -->
        <a href=""><span class="material-symbols-sharp">chat</span>
            <h3>Chat</h3><span class="message-count">3</span>
        </a>
        <a href=""><span class="material-symbols-sharp">inventory</span>
            <h3>Opportunities</h3>
        </a>
        <a href="/reports"><span class="material-symbols-sharp">report</span>
            <h3>Reports</h3>
        </a>
        <a href=""><span class="material-symbols-sharp">Settings</span>
            <h3>Settings</h3>
        </a>
       
        <a href=""><span class="material-symbols-sharp">logout</span>
            <h3>Logout</h3>
        </a>

    </div>
</aside>



