<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />
    <link rel="stylesheet" href="/css/dashboard.css"/>

        <title>Admin Dashboard</title>
</head>
<body>
   
<div class="container">

    <div th:replace="~{partials/dashboardsidebar}"></div>


        <main>
            <h1>Dashboard</h1>
            <div class="date">
                <input type="date">
            </div>

            <div class="employer-info">
                <h2>Admin Information</h2>
                <p>Name: <span th:text="${adminInfo.firstname} + ' ' + ${adminInfo.lastname}"></span></p>
                <p>Email: <span th:text="${adminInfo.email}"></span></p>
            </div>

            <div class="recent-orders">
                <h2>Recent Activities</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Donor Name</th>
                            <th>Donor Email</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr th:each="donation : ${recentDonations}">
                            <td th:text="${donation.user.firstname + ' ' + donation.user.lastname}"></td>
                            <td th:text="${donation.user.email}"></td>
                            <td th:text="${donation.amountDonated}"></td>
                            <td>Completed</td> 
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <!-- end of main -->

        <div class="right">
            <div class="top">
               
                <div class="theme-toggler">
                    <span class="material-symbols-sharp active">light_mode</span>
                    <span class="material-symbols-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, </p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <!-- <img src="Team Members Info/team members pics/eslam.JPEG" alt=""> -->
                    </div>
                </div>
            </div>
            <!-- end of top -->

            <div class="left">
                <h2 class="customers-title">Total number of customers</h2>
                <h1 class="total-customers" th:text="${totalUsers}">0</h1>
            </div>

            
            <div class="sales-analytics">
                <div class="item customers">
                    <div class="icon"><span class="material-symbols-sharp">person</span></div>
                    <div class="right">
                        <div class="info">
                            <a href="/users">
                                <h3>Check New CUSTOMERS</h3>
                            </a>
                        </div>
                    </div>
                </div>

           
            
                <div class="item add-product">
                    <div>
                        <span class="material-symbols-sharp">add</span>
                        <a href="/User/AddUser">Add User</a>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script>
        const themeToggler = document.querySelector(".theme-toggler");

//shaghal l darkmode
themeToggler.addEventListener('click', () =>{
    document.body.classList.toggle('dark-theme-variables');
    themeToggler.querySelector('span:nth-child(1)').classList.toggle('active');
    themeToggler.querySelector('span:nth-child(2)').classList.toggle('active');
})
    </script>
    
</body>
</html>