<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <title>Signup</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap"rel="stylesheet">

</head>

<body>
    <th:block th:insert="~{fragments/header.html}" />
    <div class="wrapper">



        <div class="form-box register">
            <h2>Register</h2>
            <form method="post" th:action="@{/register}" th:object="${organizationDTO}">
                
                    <div class="mb-3">
                        <label for="organizationName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="organizationName" name="organizationName" th:field="*{organizationName}"
                            th:errorClass="is-invalid">

                        <div th:if="${#fields.hasErrors('organizationName')}" th:errors="*{organizationName}" class="invalid-feedback"></div>
                    </div>
                
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" th:field="*{email}" th:errorClass="is-invalid">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" th:field="*{password}" th:errorClass="is-invalid">
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="cpassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="cpassword" name="cpassword" th:field="*{cpassword}" th:errorClass="is-invalid">
                    <div th:if="${#fields.hasErrors('cpassword')}" th:errors="*{cpassword}" class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Description</label>
                    <input type="text" class="form-control" id="organizationDescrp" name="organizationDescrp" th:field="*{organizationDescrp}" th:errorClass="is-invalid">
                    <div th:if="${#fields.hasErrors('organizationDescrp')}" th:errors="*{organizationDescrp}" class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">ContactInfo</label>
                    <input type="text" class="form-control" id="contactInfo" name="contactInfo" th:field="*{contactInfo}" th:errorClass="is-invalid">
                    <div th:if="${#fields.hasErrors('contactInfo')}" th:errors="*{contactInfo}" class="invalid-feedback"></div>
                </div>
             
                <button type="submit" class="btn btn-primary">Register</button>
                <div class="login-register mt-3">
                    <p>Already have an account?
                        <a th:href="@{/login}" class="login-link">
                            Login
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <!-- Bootstrap Bundle with Popper -->
    
    <th:block th:insert="~{fragments/footer.html}"/>
    

</body>
</html>